<div class="container">
  <div><%= @matching.user.name %>さん
    <%= @matching.created_at %>依頼</div>
  <div class="jumbotron special">
    <h1><%= @matching.item.name %></h2>のマッチング
  </div>

</div>

<div class="container">
  <hr>
  <% @matching_conversations.each do |matching_conversation| %>
  <div><%= matching_conversation.user.name %>さん<%= matching_conversation.created_at %>投稿</div>
  <div class=""><%= auto_link(simple_format(matching_conversation.message), html: { target: '_blank' }) %></div>
  <hr>
  <% end %>

  <%= form_for [@matching, @matching_conversation] do |f| %>
  <%= f.hidden_field :matching_id, value: @matching.id %>

  <%= f.text_area :message, class: "form-control" %>
  <%= f.submit "メッセージ送信", class: "btn btn-large btn-primary" %>
  <% end %>
</div>
