<div class="container">
  <div class="col-sm-3">
    <%= image_tag(@item.webimage_url,
     alt: 'item', class: 'img-rounded img-responsive center-block') %>
  </div>

  <div class="item-header well-lg col-sm-6">
    <%= auto_link(simple_format(@item.message), html: { target: '_blank' }, link: :urls)   %>
  </div>
  <div class="qrcode col-sm-3" style="display: inline-block;"><%= qrcode_svg(item_path, module_size: 4) %></div>
</div>
<div class="container">
  <hr>
  <%= render partial: 'calendar', locals: { item: @item } %>
  <hr>
  <h2><%= @item.name %>の知見履歴</h2>

  <%= render partial: 'shared/knowledges_list',
              locals: {knowledges: @knowledges,
              div_tag_name: 'knowledges'} %>
  <hr>
  <h2><%= @item.name %>の予約ノート</h2>

  <%= render partial: 'reservations', locals: { item: @item } %>

  <%= link_to "CSV出力", item_reservations_path(item_uuid: @item.uuid, format: :csv), class: "btn btn-primary pull-right" %>

  <%= link_to "ical出力", item_reservations_path(item_uuid: @item.uuid, format: :ics), class: "btn btn-primary pull-right" %>

</div>
